//сolors
$white: #ffffff;
$dark: #000000;
$yellow: #ffbb3d;
$light-blue: #F3FCFF;
$dark-blue: #195B84;


// Animation
$fast-animation: .3s ease-in-out;

// Media Query
$media-mob-sm: 320px;
$media-mob-md: 360px;
$media-mob-lg: 550px;

$media-tab-sm: 640px;
$media-tab-md: 768px;
$media-tab-lg: 1024px;

$media-des-sm: 1280px;
$media-des-md: 1360px;
$media-des-lg: 1600px;
$media-max: 1920px;