.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 95;

  @media (min-width: $media-tab-lg) {
    padding-top: 30px;
  }
 

  &--open {
    background-color: transparent;

    .hamburger__line {
      background-color: $yellow;
    }

    .header__menu{
      position: absolute;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      background-color: $dark;
      animation: fade-in 0.5s ease-in-out both;
    }
  }
  
  &__menu{
    display: none;
  }

  
  
  &__logo{
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: contain;
    

    @media (min-width: $media-tab-lg) {
      height: 80px;
    }

    &-text{
      font-family: 'Rubik', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__hamburger {
    position: relative;
    z-index: 1;
  }
}