<% var data = {
title: "test-circus",
}; %>

<%= _.template(require('./../includes/head.html').default)(data) %>

<body class="body">

<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="main-content">
  <div class="main-content__bg"></div>
  <div class="section-wrapper">
    <section class="intro">
        <div class="v-container">
          <div class="intro__block-desc v-col-lg-5">
            <h1 class="intro__title">Brangin your highest potetial to reality</h1>
            <p class="intro__subtitle">Overcoming organizational ADHD
              If you’re constantly feeling your organization could do much better, frustrated with your results, and knowing you’re not achieving peak performance, scroll down, get diagnosed, and begin treating this condition, today.
              <span class="point"></span>
            </p>
            <a href="" class="btn__round btn__round--orange">SERVICES</a>
          </div>
        </div>
      
        <div class="scroll v-container">
          <button type="button" class="btn__scroll" data-scroll-down-button>
            scroll down 
            <span class="btn__scroll-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24.843" height="14.834" viewBox="0 0 24.843 14.834">
                <path id="Subtraction_1" data-name="Subtraction 1" d="M24.843,14.834H19.3L12.421,6.615,5.539,14.833H0L12.421,0,24.842,14.833Z" transform="translate(24.843 14.834) rotate(180)" fill="#fff"/>
              </svg>
            </span>
          </button>
        </div>
      
    </section>
    <section class="about v-container">
        <div class="swiper about-slider" data-slider>
            <div class="swiper-wrapper about-slider__wrapper">
                <div class="swiper-slide about-slider__slide">
                  <div class="about-slider__slide-logo">
                    <img class="about-slider__slide-logo__img" src="../img/brain-active.svg" alt="logo-slider">
                  </div>
                  
                  <div class="about-slider__slide-desc">
                      <h2 class="about-slider__slide-desc__title">Get the right diagnosis</h2>
                      <p class="about-slider__slide-desc__text">Do you have a sense that things should – and could be going much better for your organization?
                        Like most companies today, it could be that organizational ADHD is holding you back. </p>
                      <a href="" class="btn__round btn__round--dark">Diagnose your organization  >></a>
                  </div>
                </div>

                <div class="swiper-slide about-slider__slide">
                  <div class="about-slider__slide-logo">
                    <img class="about-slider__slide-logo__img" src="../img/diagnosis-active.svg" alt="logo-slider">
                  </div>
                  
                  <div class="about-slider__slide-desc">
                      <h2 class="about-slider__slide-desc__title">Get the right diagnosis</h2>
                      <p class="about-slider__slide-desc__text">Do you have a sense that things should – and could be going much better for your organization?
                        Like most companies today, it could be that organizational ADHD is holding you back. </p>
                      <a href="" class="btn__round btn__round--dark">Diagnose your organization  >></a>
                  </div>
                </div>

                <div class="swiper-slide about-slider__slide">
                  <div class="about-slider__slide-logo">
                    <img class="about-slider__slide-logo__img" src="../img/prescription-active.svg" alt="logo-slider">
                  </div>
                  
                  <div class="about-slider__slide-desc">
                      <h2 class="about-slider__slide-desc__title">Get the right diagnosis</h2>
                      <p class="about-slider__slide-desc__text">Do you have a sense that things should – and could be going much better for your organization?
                        Like most companies today, it could be that organizational ADHD is holding you back. </p>
                      <a href="" class="btn__round btn__round--dark">Diagnose your organization  >></a>
                  </div>
                </div>

                <div class="swiper-slide about-slider__slide">
                  <div class="about-slider__slide-logo">
                    <img class="about-slider__slide-logo__img" src="../img/ecosistem-active.svg" alt="logo-slider">
                  </div>
                  
                  <div class="about-slider__slide-desc">
                      <h2 class="about-slider__slide-desc__title">Get the right diagnosis</h2>
                      <p class="about-slider__slide-desc__text">Do you have a sense that things should – and could be going much better for your organization?
                        Like most companies today, it could be that organizational ADHD is holding you back. </p>
                      <a href="" class="btn__round btn__round--dark">Diagnose your organization  >></a>
                  </div>
                </div>

                
              
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
        
    </section>
  </div>
</main>



<script src="js/bundle.js"></script>
</body>
</html>
